.code-module-edit {
    textarea {
      width: 100%;
      resize: vertical;
      height: 90px;
    }
    .lang-input {
        margin-left: 5px;
    }
    .line-nums-box {
        margin-left: 20px;
    }
}