.document-cards-list {
  a {
    &:link {
      text-decoration: none;
      color: inherit;
    }
    &:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
      color: inherit;
    }
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.document-cards-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin: 0 15px;
  width: 200px;
  height: 250px;
  margin-top: 30px;
  position: relative;
}

.document-cards-name {
  font-size: 24px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.document-cards-image {
  width: 155px;
  height: 135px;
  margin: 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}