.document-cards-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin: 0 15px;
  width: 200px;
  height: 250px;
  margin-top: 30px;
}

.document-cards-name {
  font-size: 24px;
  max-width: 200px;
  max-height: 55px;
  overflow: hidden;
  margin: 0;
}

.document-cards-image {
  width: 155px;
  height: 135px;
  margin: 15px;
  border-radius: 10px;
}

a {
  &:link {
    text-decoration: none;
    color: inherit;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
    color: inherit;
  }
  &:active {
    text-decoration: none;
    color: inherit;
  }
}