.button {
  background-color: #256ce1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  margin-right: 15vw;
  transition: all 0.4s ease-in-out;

  &:hover {
    transition: all 0.4s ease-in-out;
    background: #010606;
    color: #fff;
    cursor: pointer;
  }
}

.my-docs-page{
  flex-grow: 1;
  overflow: auto;
  height: 80vh;
}

.searchAndCreate {
  display: flex;
}

.searchRegion {
  flex: 1;
}

.search {
  padding-top: 50px;
}

.document-cards-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.user-message{
  padding: 10% 25%;
  text-align: center;
}