.text-module-edit {
    textarea {
      width: 100%;
      resize: vertical;
      height: 90px;
    }
}

.text-module-view {
    &.align-left {
        text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
    &.align-justify {
        text-align: justify;
    }
    p {
        margin-block: 0;
    }
    & :first-child {
        margin-top: 0;
    }
    & :last-child {
        margin-bottom: 0;
    }
}