.title-module-edit {
    textarea {
        width: 100%;
        box-shadow: 0 0 10px lightgrey;
        resize:vertical;  
        font-weight: bold;
        text-align: center;    
    }
}
  
.title-module-view {
    width: 100%;
    margin: auto;
    font-weight: bold;
    text-align: center;
}