#root {
  min-height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$highlight: #256ce1;

.logo {
  position: relative;
  margin-top: 3%;
  max-width: 120px;
  margin-right: 30vw;

 // width: 20px;
  // height: 20px;
  // margin-top: 10px;
}

nav {
  padding: 20px;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 10px -5px gray;
  z-index: 1;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: right;
    transition: all 0.4s ease-in-out;

    &:hover {
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      color: $highlight;
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }

  .button {
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 0px;

    &:hover {
      transition: all 0.4s ease-in-out;
      background: #010606;
      color: #fff;
    }

  }

  @media screen and (max-width: 900px) {
    .logo {
      margin-right: 0vw;
      margin-top: 15%;
    }
    .navbar-link{
      font-size: 12px;
    }
    .navbar-link{
      min-width: 0vw;
    }  
    .button{
      border-radius: 4px;
      width: 8vw;
      font-size: 10px;
    }
  }  
}