.document-page {
  background: #eee;
  flex-grow: 1;
  overflow: auto;
  height: 80vh;
}

.document {
  max-width: 800px;
  background: white;
  align-self: center;
  margin: 30px auto auto auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
}

.module-container {
  position: relative;
  padding: 10px 0;

  .module-buttons {
    position: absolute;
    top: -10px;
    right: 0;
    display: flex;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 20px;
    button {
      background: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
      align-items: center;
      &:hover {
        background: #eee;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .module-toggle-edit-button {
    width: 45px;
    // TODO: !important is bad practice
    // Ideally we use icons instead of unicode and have all be non-bold
    font-weight: normal !important; 
  }
}

.title-module-edit, .text-module-edit {
  textarea {
    width: 100%;
    box-shadow: 0 0 10px lightgrey;
    resize:vertical;  
  }
}


.title-module-edit{
  textarea{
    font-weight: bold;
    text-align: center;    
  }
}

.title-module-view{
  width: 100%;
  margin: auto;
  // text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.text-module-view{
  div{
    word-wrap: break-word;
  }
}
.image-upload-wrapper{
  box-shadow: 0px 0px 10px lightgrey;
}

.image-module {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    max-width: 600px;
    margin: 0 auto;
  }
}

.toolbar {
  background: white;
  flex-direction: row;
  outline: 1px solid lightgrey;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.toolbar-group {
  padding: 0 5px;
  height: 100%;
}
.toolbar-group:not(:first-child) {
  border-left: 1px solid lightgrey;
}

.toolbar-button {
  border: none;
  background: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}
